# project config file (contain sensitive: server information)
/det/logs/*
/det/model_data/*.pth

# fuse results (contain images that can be reproduced by given model parameters)
/det/VOCdevkit
/logs/*
loss.png
# macOS finder file (contain sensitive: local username)
**/.DS_Store

# python cache
**/__pycache__

# experimental data
data/*

/M3FD_with_det/ann/*
/M3FD_with_det/ImageSets/*
/M3FD_with_det/ir/*
/M3FD_with_det/vis/*
/M3FD_with_det/vis/*.txt