/det/logs/*.pth
/det/model_data/*.pth


/det/VOCdevkit

/logs/*.pth
loss.png

# macOS finder file (contain sensitive: local username)
**/.DS_Store

# python cache
**/__pycache__


/M3FD_with_det/ann/*.xml
/M3FD_with_det/ImageSets/*.txt
/M3FD_with_det/ir/*.png
/M3FD_with_det/fusion/*.png
/M3FD_with_det/vis/*.png
/M3FD_with_det/*.txt
/M3FD_with_det

/det/logs
/det/rs