/det/logs/*.pth
/det/model_data/*.pth


/det/VOCdevkit

/logs/*
loss.png

# macOS finder file (contain sensitive: local username)
**/.DS_Store

# python cache
**/__pycache__


/M3FD_with_det/ann/*
/M3FD_with_det/ImageSets/*
/M3FD_with_det/ir/*
/M3FD_with_det/vis/*
/M3FD_with_det/vis/*.txt